body{
	background:#f0f2f5;
}
.img{
	margin-left: 11rem;
	margin-top: 9rem;
}
 p{
	font-size: 24px;
	margin-left: 12rem;
	font-weight: bold;
}
.w-50{
	margin-top: 5rem;
	margin-left: 0.7rem;
}
 form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    font: normal 500 17px/20px var(--roboto);
}
.form-control{
	padding: 10px;
	margin: 15px;
	width: 330px;
	border-radius: 7px;
}
.btn.btn-success{
	width: 333px;
	background-color: #3b5998;
	margin-left: 1rem;
	margin-top: 0.7rem;
	height: 3rem;
	font-family:sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.w-50 a{
	margin-left: 4rem;
	font-size: 13px;
	color: #1877f2;
	font-family: sans-serif;
	margin-top: 10px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.btn.btn-primary{
	color: white;
	font-family: sans-serif;
	font-size: 17px;
	background-color: green;
	border:1px solid white;
	width: 240px;
	margin-left: 4rem;
	margin-top: 0.7rem;
	height: 3rem;
	margin-bottom: 10px;
	border-radius: 10px;
}
.end a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.end{
	margin-top: 2rem;
	margin-left: 9rem;
}
span{
	margin-left: 9rem;
}
.end a:hover{
	text-decoration: underline;
}
#Facebook{
	background-color: white;
	height: 380px;
	width: 400px;
	margin-left: 7rem;
	border-radius: 10px;
}
hr{
	width: 380px;
}
